Source: flannel
Section: admin
Priority: extra
Maintainer: YuviPanda <yuvipanda@wikimedia.org>
Build-Depends: debhelper (>= 12), golang
Standards-Version: 3.9.5
Homepage: https://github.com/coreos/flannel
Vcs-Browser: https://github.com/wikimedia/operations-debs-flannel

Package: flannel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: etcd backed overlay network for containers
 This package contains flannel, a network overlay used in some Kubernetes
 deployments.
